[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
requests = "*"
websocket-client = "*"
pytest-asyncio = "*"
pytest = "*"
twine = "*"
pyserial = "*"
pyserial-asyncio = "*"
opencv-python = "3.1.0"
numpy = "*"
picamera = "*"
asyncio = "*"

[requires]
python_full_version = "3.5.3"




