[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
requests = "*"
websocket-client = "*"
pytest-asyncio = "*"
pytest = "*"
twine = "*"
pyserial = "*"
pyserial-asyncio = "*"

