[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
keras = "*"
opencv-python = "*"
numpy = "*"
matplotlib = "*"
tensorflow = "*"

[requires]
python_full_version = "3.5.3"


